# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Django
*.sqlite3
*.log
media/
staticfiles/
static_root/

# Environment variables
.env
.env.local

# Distribution / packaging
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
